name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Шаг 1: Клонирование репозитория в CI/CD
      - name: Checkout code
        uses: actions/checkout@v3

      # Шаг 2: Проверка кода
      - name: Echo Test
        run: echo "Running basic tests!"

      # Шаг 3: Сборка Docker образа (локальная проверка)
      - name: Build Docker image
        run: docker compose up -d --build

      - name: Check docker container
        run: docker ps -a

      - name: Ping API
        run: curl -X GET http://localhost:6003/
